.item-count-main {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    max-width: 270px;
}

.count-container {
    border: 1px solid #dfe1e5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
    width: 100px;
}

.count-container:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.count-container__number {
    font-size: 1.6rem;
}

.add-to-cart {
    border-radius: 3px;
    background-color: var(--primary-green);
    color: var(--just-white);
    padding: 0px 12px;
}

.add-to-cart:hover {
    transition: all .1s ease-in;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

.add-to-cart:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}