:root {
  /*fonts*/
  --poppins: 'Poppins', sans-serif;
  --playfair: 'Playfair Display', serif;
  /* Colors */
  --primary-green: #505225;
  --secondary-green: #A4B494;
  --purple-levender: #87717d;
  --yellow-white: #e8dab2;
 --black-of-8: rgba(0, 0, 0, 0.8);
  --black: #0f0f0f;
  --black-leter: #433B3A;
  --off-white: #f7f7ee;
  --just-white: #fff;
  --grey: #999999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  min-width: 320px;
}

body {
  font-family: var(--poppins);
  min-width: 320px;
  color: var(--black-leter);
}